/* general */
* {
    box-sizing: border-box;
  }
body {
    background: url("../images/spiration-light.png");
    font-family: Helvetica;
    color: #777777;
    font-size: 16px;
}

/* Header and Connect */
h2, h3 {
    font-size: 25px;
    font-family: Times;
    font-weight: bold;
    color: #4aaaa5;
}
h3 {
    font-size: 20px;
}


/* Header */
header {
    font-family: Times;
    border: 1px solid #cccccc;
    width 100%;
    height: 75px;
    background: #ffffff;
    margin-left: 0;
}
h1 {
    font-size:30px;
    font-weight: bold;
    color: #ffffff;
    background: #4aaaa5;
    margin-left: 10%;
    float:left;
    padding: 22px;
   }


/* Header-navigation */
nav {
    background: #ffffff;
    font-size: 18px;
    float: right;
    margin-right: 2%;
    margin-top: 30px;
}
span {
    padding:0 20px;
}
#about {
    border-right: 2px solid #777777;
}
#portfolio {
    border-right: 2px solid #777777;
}
a {
    text-decoration: none;
    color: #777777;
}
a:hover {
    color: #4aaaa5;
}


/* content general*/
.content {
    background: #ffffff; 
    margin-left: 10%;
    margin-right: 3%; 
    margin-bottom: 3%;
    padding: 3%;
    float: left;
    width:60%;
    border: 1px solid #dddddd;

}
hr {
    color: #777777;
    background-color: #777777;
    height: 3px;
    margin: 3% 0     
}

/* About Me */
.me {
    margin-right: 10px;
    float: left;
}
p {
    line-height: 1.5;
}


/* Contact*/
form {
    font-size: 20px;
    color: #777777;
}
.info {
    width: 100%;
    height: 30px;
    font-size: 16px;
    color: #777777;
    border: 1px solid #777777;
}
.message {
    height: 200px;
    border: 1px solid #777777;
}
.submit {
    background-color:#4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}
.submit:hover {
    color: #777777;
}


/* Portfolio */
table {
    width: 100%;
}
tr {
    text-align: center;  
}
.image-holder {
    position: relative;
    margin: 5%;
}
h4 {
    position:absolute;
    text-align:center;
    margin: 0;
    top: 60%;
    left: 54px;
    width: 200px;
    padding: 16px;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 18px;
}

/* Connect with Me*/
.connect {
    float: right;
    background: #ffffff;
    margin-right: 8%;
    padding: 2%;
    text-align: center;
    border: 1px solid #dddddd;
}
.connect img {
    margin: 0 5px;
}

.connect hr {
    margin: 10px 0;
}


/* Footer */

footer {
    clear: both;
    margin-top: -50px;
    background: #666666;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 12px;
    color: #9c9696;
    vertical-align: middle;
    border-top: 8px solid #4aaaa5;
}
h6 {
    padding-top: 19px;
}


/* Media Queries */
/* 980px */
@media only screen and (max-width: 980px) {
    /* Index.html */
    p {
        float: none;
    }
    .me {
        width: 100%;
        margin-bottom: 15px;
    }
    
    /* portfolio.html */
    .content {
        width: 50%;
    }
    td {
        display: block;
        width: 100%;
    }
    h4 {
        width: 100%;
        left: 0px;
        top: 70%;
        padding: 20px;
    }
    .portfolio-image {
        width: 100%;
        height: auto;
    }
    .image-holder {
        margin: 30px, 0;
    }
}


/* 768px */
@media only screen and (max-width: 768px) {
    /* Index.html */
    .me {
        width: 50%;
        margin-right: 20px;
       
    }

    /* Portfolio.html */
    .content {
        width: 60%;
    }
    tr {
        width: 100%;
    }
    td {
        width: 50%;
        padding: 0;
        display: table-cell;
    }

     /* for all pages */
     .content {
        width: 90%;
        margin: 0 5%;
     }
     .connect {
        clear: both;
        width: 90%;
        text-align: left;
        margin: 5%;
     }
     h1 {
         margin-left: 5%;
     }
}


/* 640px */
@media only screen and (max-width: 640px) {
    /* Index.html */
     .me {
        width: 100%
    }

    /* portfolio.html */
    .content {
        width: 90%;
    }
    td {
        display: block;
        width: 100%;
    }

    /* for all pages */
     .content {
        margin: 0 5%;
     }
     h1 {
        margin: 0;
        width: 100%;
        text-align: center;
     }
     nav {
         display: block;
         width: 100%;
         height: 50%;
         margin: 0 0 3%;
         padding-top: 10px;
         text-align: center;
     }
     span {
        padding: 0 70px;
        overflow: hidden;
     }
}